/* Polices */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

@font-face {
    font-family: 'Sifoon';
    src: url("font/SIFONN_BASIC.otf") format("opentype");
}

.container{
    text-align: center;
}

.lettrines:first-letter{
    font-family: Latin Modern Mono, sans-serif;
    font-size:3em;
  }

.dinoPage{
    background: coral;  
}


h1{ 
    margin: 10px;
    text-align: center;
    font-family: 'Sifoon';
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}

img{
    max-width: 900px;
    max-height: 700px;
    border-radius: 5px;
}